
<ion-content [fullscreen]="true">
  <img id="dog" src="../../../../assets/images/dogwelcome.png">

  <ion-text class="ion-text-center" color="danger">
    <h2>Puppy</h2>
  </ion-text>

  <ion-footer>
    <ion-grid>
      <ion-row>
        <ion-col><ion-button (click)="move('login')" expand="block" fill="clear">Login</ion-button></ion-col>
        <ion-col><ion-button (click)="move('register')" expand="block" fill="clear">Register</ion-button></ion-col>
      </ion-row>
    </ion-grid>
  </ion-footer>
</ion-content>
