<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Sobre nós</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-text-justify">
  <ion-card>
    <ion-card-content>  
      A Clinica Veterinária Fisioterapia, é uma empresa que se dedica ao máximo em todas a áreas, com a finalidade de oferecer o melhor para que o seu peludo tenha um atendimento com excelência, e você cliente saia satisfeito.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Nossas Instalações</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Recepção" src="https://img.icons8.com/color/48/null/front-desk.png" />
          </ion-thumbnail>
          <ion-label>Recepção</ion-label>
        </ion-item>
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Consultórios" src="https://img.icons8.com/color/40/null/veterinarian-male-skin-type-2.png" />
          </ion-thumbnail>
          <ion-label>Consultórios</ion-label>
        </ion-item>
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Sala de equipamentos" src="https://img.icons8.com/office/30/null/wooden-massagetable.png" />
          </ion-thumbnail>
          <ion-label>Sala de equipamentos</ion-label>
        </ion-item>
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Sala de Fisioterapia" src="https://img.icons8.com/officel/30/null/physical-therapy.png">
          </ion-thumbnail>
          <ion-label>Sala de Fisioterapia</ion-label>
        </ion-item>
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Sala de Hidroterapia"  src="https://img.icons8.com/external-flaticons-lineal-color-flat-icons/64/null/external-hydrotherapy-pet-grooming-flaticons-lineal-color-flat-icons-2.png">
          </ion-thumbnail>
          <ion-label>Sala de Hidroterapia</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  

  
<ion-footer style="display: flex; justify-content: center; align-items: center;">
  {{footer}}
</ion-footer>


</ion-content>
