<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Tratamentos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-justify">
  <ion-card>
    <ion-card-content>  
      Separamos uma lista com tratamentos mais aplicados em toda a nossa clínica.      
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Nossos tratamentos</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content style="overflow-x: auto;">
      <ion-list style="white-space: nowrap;">
        <ion-item>Massagem terapêutica</ion-item>
        <ion-item>Terapia por ondas de choque</ion-item>
        <ion-item>Acupuntura</ion-item>
        <ion-item>Eletroterapia</ion-item>
        <ion-item>Hidroterapia</ion-item>
        <ion-item>Fisioterapia respiratória</ion-item>
        <ion-item>Exercícios terapêuticos</ion-item>
        <ion-item>Tratamento de feridas e lesões cutâneas</ion-item>
        <ion-item>Tratamento de problemas ortopédicos</ion-item>
        <ion-item>Tratamento de problemas neurológicos</ion-item>
        <ion-item>Tratamento pré e pós-operatório</ion-item>
        <ion-item>Postura e ergonomia</ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>  
</ion-content>

<ion-footer style="display: flex; justify-content: center; align-items: center;">
  {{footer}}
</ion-footer>
