<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Tratamentos</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-text-justify">
  <ion-card>
    <ion-card-content>  
      Separamos uma lista com tratamentos mais aplicados em toda a nossa clínica.      
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Nossas tratamentos</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>Massagem terapêutica</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Terapia por ondas de choque</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Acupuntura</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Eletroterapia</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Hidroterapia</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Fisioterapia respiratória</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Exercícios terapêuticos</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Tratamento de feridas e lesões cutâneas</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Tratamento de problemas ortopédicos</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Tratamento de problemas neurológicos</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Tratamento pré e pós-operatório</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Postura e ergonomia</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  

</ion-content>
